<h2>Please make the payment to confirm your booking</h2>

<div class="row">
  <div class="col-25">
    <div class="container">
      <form action="/pay">
        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>

            <label for="cname">Name on Card</label>
            <input
              type="text"
              id="cname"
              name="cardname"
              placeholder="John More Doe"
            />

            <label for="expmonth">Exp Month</label>
            <input
              type="text"
              id="expmonth"
              name="expmonth"
              placeholder="September"
            />

            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input
              type="text"
              id="email"
              name="email"
              placeholder="john@example.com"
            />
          </div>

          <div class="col-50">
            <h3>Payment</h3>

            <label for="ccnum">Credit card number</label>
            <input
              type="text"
              id="ccnum"
              name="cardnumber"
              placeholder="1111-2222-3333-4444"
            />

            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input
                  type="text"
                  id="expyear"
                  name="expyear"
                  placeholder="2021"
                />
              </div>
            </div>
          </div>
        </div>

        <input
          type="submit"
          value="Pay"
          class="btn"
          mdbBtn
          color="primary"
          (click)="applyFormConfirm()"
        />
      </form>
    </div>
  </div>

  <div class="col-50"></div>
</div>
