<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">
    This is a simple hero unit, a simple jumbotron-style component for calling
    extra attention to featured content or information.
  </p>
  <hr class="my-4" />
  <p>
    It uses utility classes for typography and spacing to space content out
    within the larger container.
  </p>
  <a mdbBtn color="primary" size="lg" href="#" role="button" mdbWavesEffect
    >Learn more</a
  >
</div>

<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <img
      class="d-block w-100"
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
      alt="First slide"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      class="d-block w-100"
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
      alt="Second slide"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      class="d-block w-100"
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
      alt="Third slide"
    />
  </mdb-carousel-item>
</mdb-carousel>

<div class="jumbotron slide">
  <p class="lead">genre</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Comedy</li>
    <li class="list-group-item">Thriller</li>
    <li class="list-group-item">Sport</li>
    <li class="list-group-item">Biography</li>
  </ul>
</div>
<button type="button" mdbBtn color="info" mdbWavesEffect>Apply</button>
